@model MarketPlace.Data.DataObjects.KycModels.KycViewModel
@inject IUrlHelper _urlHelper;
@inject IHttpContextAccessor _httpContext;
@{
    ViewData["Title"] = "Profile";
    var context = _httpContext.HttpContext;
    var baseUrl = $"{context.Request.Scheme}://{context.Request.Host}{context.Request.PathBase}";


}

<section style="background-color: #eee;">
    <div class="container py-5">
        @* <div class="row">
        <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
        </ol>
        </nav>
        </div>
        </div> *@

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        @if (!string.IsNullOrEmpty(Model.PassportName))
                        {
                            var imagePath = $"{baseUrl}/Images/" + Model.PassportName;
                            <img id="imgPassport" src="@imagePath" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                        }
                        else
                        {
                            <img id="imgPassport" src="" alt="Kindly upload your passport"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                        }
                        <center>
                            <input type="file" style="width:70%; font-size:10px" id="passportFile" class="form-control" />
                        </center>
                        <h5 class="my-3">@Model.FirstName @Model.LastName</h5>
                        <p class="text-muted mb-1">@Model.ResidentialAddress</p>
                        <p class="text-muted mb-4">@Model.City</p>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0">https://mdbootstrap.com</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <p class="mb-0">@Model.Phone</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                <p class="mb-0">@Model.User.Email</p>
                            </li>
                            @* <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                            <p class="mb-0">mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                            <p class="mb-0">mdbootstrap</p>
                            </li> *@
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><input type="text" value="@Model.FirstName @Model.LastName" readonly class="form-control" /></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><input type="email" value="@Model.User.Email" class="form-control" readonly /> </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><input type="text" value="@Model.Phone" readonly class="form-control" /></p>
                            </div>
                        </div>
                        <hr />
                        
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">State</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    @if (Model.State!=null)
                                    {
                                        <input type="text" readonly class="form-control" value="@Model.State.Name" />
                                    }
                                    else
                                    {
                                        <select class="form-control" asp-for="State.Id">
                                            <option>Select State</option>
                                        </select>
                                    }
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">City</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><input id="city" type="text" value="@Model.City" class="form-control" /></p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><textarea id="address" class="form-control">@Model.ResidentialAddress</textarea></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">

                                </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    <button class="btn btn-primary" onclick="SaveProfile(this)">Save Changes</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script>

        function FetchStates(e) {
            console.log(e.id);
            let url = '@Url.Action("FetchStates", "Location")?CountryId=' + e.value;
            console.log(url);
            if (e.value != '') {
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'JSON',
                    success: function (response) {
                        console.log(response);
                        let html = '<option>Select State</option>'
                        $.each(response, function (i, v) {
                            html += '<option value="' + v.id + '">' + v.name + '</option>';
                        });
                        $('#State_Id').html(html);
                    },
                    error: function (err) {

                    }
                });
            }

        }

        function SaveProfile(e) {
            let obj = {
                "City": $('#city').val(),
                "StateId": $('#State_Id').val(),
                "CountryId": $('#Country_Id').val(),
                "ResidentialAddress": $('#address').val()
            };

            console.log(obj);
            $.ajax({
                url: '@Url.Action("SaveProfile", "Home")',
                method: 'post',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(obj),
                success: function (response) {
                    swal({
                        title: "Good job!",
                        text: "You clicked the button!",
                        icon: "success",
                        button: "Ok!",
                    });
                },
                error: function (err) {
                    swal({
                        title: "Oops!",
                        text: "An error occurred while trying to save your entries",
                        icon: "error",
                        button: "Error",
                    });
                }
            });
        }


        const fileInput = document.getElementById('passportFile');
        const previewImg = document.getElementById('imgPassport');

        fileInput.addEventListener('change', function (event) {
            const file = event.target.files[0];

            if (file) {
                const reader = new FileReader();

                reader.addEventListener('load', function () {
                    previewImg.src = reader.result;
                });

                reader.readAsDataURL(file);

                const formData = new FormData();
                formData.append('file', file);

                // Create AJAX request
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '@Url.Action("UploadPassport", "Home")', true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        console.log('File uploaded successfully');
                    } else {
                        console.error('File upload failed');
                    }
                };

                xhr.send(formData);
            }
        });
    </script>
}

